*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #79e2ff;
    width: 100%;
}
a{
    text-decoration-line: none;
}
a.siteName{
    color: #ff8755 ;
}
h1{
    padding: 3vh 0 0 2vw;
}
nav{
    background-color: #436cff;
    height: 5vh;
    display: flex;
    justify-content: flex-start;
    border-bottom: solid 1vh #1e337d;;
}
a.navigation{
    color: #000000;
    display: block;
    height: 5vh;
    width: 7vw;
    margin-left: 3vw;
}
.container{
    font-size: large;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 1vh;
}
.container:hover{
    background-color: #1e337d;
}
main{
    width: 80%;
    margin: auto;
    background-color: #b8b6b5;
    height: 86vh;
}
#content{
    width: 90%;
    margin: auto;
}
h2{
    text-align: center;
    padding-bottom: 2vh;
}
h3{
    padding-bottom: 2vh;
}
.text{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2vh
}
.text>p{
    display: block;
    margin-left: 2vw;
}
img{
    width: 25%;
    border: black 1vh solid;
}
.photos{
    display: flex;
    justify-content: space-between;
}
.photos>img{
    height: 200px;
}